@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Noto+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Big Shoulders Display", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 2xl:px-0;
  }

  .btn_dark {
    @apply bg-[#0D1320] px-8 py-2 text-white transition-all duration-500 ease-in-out hover:text-[#0D1320] hover:bg-[#A7F400] border-solid hover:border-[1px] hover:border-[#0D1320] rounded-full;
  }

  .btn_icon {
    @apply bg-[#121B22] border-solid border-2 border-[#B9B9B9] w-[120px] h-[120px] text-white transition-all duration-500 ease-in-out hover:bg-[#AFFF00] rounded-full;
  }

  /* FONTS */
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .medium-18 {
    @apply text-[18px] font-[500];
  }

  .medium-29 {
    @apply text-[29.12px] font-[500];
  }

  .medium-47 {
    @apply text-[47.12px] font-[500];
  }

  .medium-76 {
    @apply text-[76.24px] font-[500];
  }

  .semi-bold-18 {
    @apply text-[18px] font-[600];
  }

  .semi-bold-29 {
    @apply text-[29.12px] font-[600];
  }

  .semi-bold-47 {
    @apply text-[47.12px] font-[600];
  }

  .semi-bold-76 {
    @apply text-[76.24px] font-[600];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-29 {
    @apply text-[29.12px] font-[700];
  }

  .bold-76 {
    @apply text-[76.24px] font-[700];
  }

  .extra-desk {
    @apply text-[123.36px] font-[800] uppercase;
  }
  .extra-tablet {
    @apply text-[96.24px] font-[800] uppercase;
  }
  .extra-mobil {
    @apply text-[47.12px] font-[800] uppercase;
  }
}

.title {
  font-size: clamp(47.12px, 11vw, 130.36px);
}
